@using Labb2WebbTemplate.client.Components.Layout
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Labb2WebbTemplate.client.styles.css" />
    <HeadOutlet />
    <nav>
	    <ul>
		    <li><NavLink href="/customers">Customers</NavLink></li>
		    <li><NavLink href="/">Products</NavLink></li>
		    <li><NavLink href="/orders">Orders</NavLink></li>
	    </ul>
    </nav>
</head>

<body>
<Routes />
<Router AppAssembly="@typeof(Program).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<p>Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
    <script src="_framework/blazor.web.js"></script>
    
    <style>
        .product-grid {
            display: flex;
            flex-wrap: wrap;
        }

        .product-card {
            width: calc(33% - 20px); /* Tar upp en tredjedel av bredden med 20px mellanrum */
            margin-bottom: 20px; /* Mellanrum mellan varje produktkort */
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
    </style>
    </body>

</html>
