@page "/"
@rendermode InteractiveServer
@using Labb2WebbTemplate.shared.DTOs
@using Labb2WebbTemplate.shared.Entities
@inject IHttpClientFactory HttpClientFactory
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



	@foreach (var product in Products)
	{
		<h3> @product.Id </h3>
		<h3> @product.Name </h3>
		<h3> @product.Price </h3>
	}

	<button @onclick="Test">Get Products</button>

	@code
{

    public List<GetProductDto>? Products { get; set; } = new();
 

    // protected override async Task OnInitializedAsync()
    // {
    //     var httpClient = HttpClientFactory.CreateClient("Labb2WebbTemplate"); //Den vi skapade i Client i program.cs
    //     var response = await httpClient.GetAsync("/products");

    //     if (response.IsSuccessStatusCode)
    //     {
	   //      var products = await response.Content.ReadFromJsonAsync<List<GetProductDto>>();
	   //      Products.AddRange(products);
    //     }

    //     // var bodyAsString = response.Content.ReadAsStringAsync();

    // }

    private async Task Test()
    {
	    var httpClient = HttpClientFactory.CreateClient("Labb2WebbTemplate"); //Den vi skapade i Client i program.cs
	    var response = await httpClient.GetAsync("/products");

	    if (response.IsSuccessStatusCode)
	    {
		    var products = await response.Content.ReadFromJsonAsync<List<GetProductDto>>();

			Products.Clear();

		    Products.AddRange(products);
	    }
    }
}