@page "/"
@using Labb2WebbTemplate.DataAccess.Entities
@inject IHttpClientFactory HttpClientFactory
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.




@code
{

	protected override async Task OnInitializedAsync()
	{
		var httpClient = HttpClientFactory.CreateClient("Labb2WebbTemplate"); //Den vi skapade i Client i program.cs
		var response = await httpClient.GetAsync("products");
		var response2 = await httpClient.GetAsync("customers");
		var bodyAsString = response.Content.ReadFromJsonAsync<List<Product>>();// Kan även skriva <List<GetPetDto>>();
	}

}